body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f8f9fa;
    color: #343a40;
    padding: 10px 20px;
    border-bottom: 1px solid #dee2e6;
}

main {
    background-color: #ffffff;
    color: #212529;
    padding: 20px;
    border: 1px solid #dee2e6;
}

footer {
    background-color: #f8f9fa;
    color: #343a40;
    padding: 10px 20px;
    border-top: 1px solid #dee2e6;
}

h2 {
    font-size: 2em;
    text-decoration: underline;
}

.destaque {
    font-style: italic;
    background-color: #f0f0f0;
}

#importante {
    border-top: 30px solid #f0f0f0;
}
